<div class="jumbotron">
  <h1>Stocks 222</h1>
  <p class="lead">
    Past performance is no guarantee of future results.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Your Stocks</h4>
  <ul>
    <li ng-repeat="stock in stocks">
      {{ stock.ticker }} - {{ stock.price }}
    </li>
    <li>
      <label for="new_ticker">New Ticker</label>
      <input type="text" ng-model="newTicker" id="new_ticker">
      <button ng-click="addNewTicker()">Add</button>
    </li>
  </ul>
</div>
